<a href="https://colab.research.google.com/github/sachin2003226/intro_to_python_springboard/blob/main/into_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=65
print(num,type(num))
num="A"
print(num,type(num))

65 <class 'int'>
A <class 'str'>

In [ ]:
input_var=input("please enter the value")
print(input_var)

please enter the valuehello
hello

In [ ]:
a="infy"
b=20.127
c=10
print(a,b,c)
print(a,b,c,sep=":")
print(a,b,c,end=" ")
print(a,b,c)
print("b=%0.2f" %b)
print("c=%8d" %c)
print("c=%-8d" %c)

infy 20.127 10
infy:20.127:10
infy 20.127 10 infy 20.127 10
b=20.13
c=      10
c=10

In [ ]:
num1 = 5
num2 = 6
num1%num2

5

In [ ]:
1==1 and (not(1==1 or 1==0))

False

In [ ]:
num1 = 50
num2 = 2
num3 = 3
num4 = 8
result = num1/num4-num3*num2+num4
print(result)

8.25

In [ ]:
a=10
if(a>0):
     print("positive integer")

positive integer

In [ ]:
a=-10
if(a>0):
	print("positive integer")
else:
	print("Not a positive integer")

Not a positive integer

In [ ]:
num1=10
num2=20
num3=30
if(num1>num2):
    if(num1>num3):
        print("num1 is greater")
    else:
        print("num3 is greater")
elif(num2>num3):
    print("num2 is greater")
else:
    print("num3 is greater")

num3 is greater

In [ ]:
def check_number(num):
    if num % 3 == 0 and num % 5 == 0:
        print("Zoom")
    elif num % 3 == 0:
        print("Zip")
    elif num % 5 == 0:
        print("Zap")
    else:
        print("Invalid")

# Example usage:
number = int(input("Enter a number: "))
check_number(number)

Enter a number: 5
Zap

In [ ]:
num=5
count=1
while count <= num:
    print("the current number is:",count)
    count+=1

the current number is: 1
the current number is: 2
the current number is: 3
the current number is: 4
the current number is: 5

In [ ]:
for number in 1,2,3,4,5:
  print("The current number is ",number)

The current number is  1
The current number is  2
The current number is  3
The current number is  4
The current number is  5

In [ ]:
start=1
end=10
step=2
for number in range (start, end, step):
     print("The current number is ", number)

The current number is  1
The current number is  3
The current number is  5
The current number is  7
The current number is  9

In [ ]:
for number in 10,15:
    for counter in range(1,3):
        print(number*counter, end=" ")

10 20 15 30

In [ ]:
number=28
for num in range(25,30):
    if(number>num):
        print(num)
    else:
        print(num)
        break

25
26
27
28

In [ ]:
for num in 23, 45, 50, 65, 76, 90:
    if(num%5!=0):
        continue
    if(num%10==0):
        print(num, end=" ")
        continue
    if(num%3==0):
        print(num, end=" ")

45 50 90

In [ ]:
num1=16
num2=6
while(num1>=2):
    if(num1>num2):
        num1=num1/2
    else:
        print(num1)
        break

4.0

In [2]:
for number in range(1,5):
  print ("The current number is ",number)
print("---------------------------")
for number in range(1,7,2):
   print ("The current number is ",number)
print("---------------------------")
for number in range(5,0,-1):
   print ("The current number is ",number)

The current number is  1
The current number is  2
The current number is  3
The current number is  4
---------------------------
The current number is  1
The current number is  3
The current number is  5
---------------------------
The current number is  5
The current number is  4
The current number is  3
The current number is  2
The current number is  1

In [3]:
number_of_passengers=5
number_of_baggage=2
security_check=True
for passenger_count in range(1, number_of_passengers+1):
    for baggage_count in range(1,number_of_baggage+1):
        if(security_check==True):
            print("Security check of passenger:", passenger_count, "-- baggage:", baggage_count,"baggage cleared")
        else:
            print("Security check of passenger:", passenger_count, "-- baggage:", baggage_count,"baggage not cleared")

Security check of passenger: 1 -- baggage: 1 baggage cleared
Security check of passenger: 1 -- baggage: 2 baggage cleared
Security check of passenger: 2 -- baggage: 1 baggage cleared
Security check of passenger: 2 -- baggage: 2 baggage cleared
Security check of passenger: 3 -- baggage: 1 baggage cleared
Security check of passenger: 3 -- baggage: 2 baggage cleared
Security check of passenger: 4 -- baggage: 1 baggage cleared
Security check of passenger: 4 -- baggage: 2 baggage cleared
Security check of passenger: 5 -- baggage: 1 baggage cleared
Security check of passenger: 5 -- baggage: 2 baggage cleared

In [4]:
number_of_passengers=5
number_of_baggage=2
security_check=True
for passenger_count in range(1, number_of_passengers+1):
    baggage_count =1
    while (baggage_count<=number_of_baggage):
        if(security_check==True):
            print("Security check of passenger:", passenger_count, "-- baggage:", baggage_count,"baggage cleared")
        else:
            print("Security check of passenger:", passenger_count, "-- baggage:", baggage_count,"baggage not cleared")
        baggage_count+=1

Security check of passenger: 1 -- baggage: 1 baggage cleared
Security check of passenger: 1 -- baggage: 2 baggage cleared
Security check of passenger: 2 -- baggage: 1 baggage cleared
Security check of passenger: 2 -- baggage: 2 baggage cleared
Security check of passenger: 3 -- baggage: 1 baggage cleared
Security check of passenger: 3 -- baggage: 2 baggage cleared
Security check of passenger: 4 -- baggage: 1 baggage cleared
Security check of passenger: 4 -- baggage: 2 baggage cleared
Security check of passenger: 5 -- baggage: 1 baggage cleared
Security check of passenger: 5 -- baggage: 2 baggage cleared

In [5]:
def sum_of_digits(number):
    total = 0
    while number > 0:
        digit = number % 10
        total += digit
        number = number // 10
    return total

# Test with different numbers
test_numbers = [123, 4567, 0, 9999, 1001]

for num in test_numbers:
    print(f"Sum of digits of {num} is {sum_of_digits(num)}")

Sum of digits of 123 is 6
Sum of digits of 4567 is 22
Sum of digits of 0 is 0
Sum of digits of 9999 is 36
Sum of digits of 1001 is 2

In [6]:
for passenger in "A","A", "FC", "C", "FA", "SP", "A", "A":
    if(passenger=="FC" or passenger=="FA"):
        print("No check required")
        continue
    if(passenger=="SP"):
        print("Declare emergency in the airport")
        break
    if(passenger=="A" or passenger=="C"):
        print("Proceed with normal security check")
    print("Check the person")
    print("Check for cabin baggage")

Proceed with normal security check
Check the person
Check for cabin baggage
Proceed with normal security check
Check the person
Check for cabin baggage
No check required
Proceed with normal security check
Check the person
Check for cabin baggage
No check required
Declare emergency in the airport

In [7]:
num=10
count=0
while(count <= num):
    if(count%2 == 0):
        pass
    else:
        print(count)
    count+=1

1
3
5
7
9

In [8]:
observe1="What's happening!!"
def passport_check(passport_no):
    observe4="actual copied to formal"
    observe5="func. execution starts"
    if(len(passport_no)==8):
        if(passport_no[0]>="A" and passport_no[0]<="Z"):
            status="valid"
        else:
            status="invalid"
    else:
        status= "invalid"
    observe6="func. execution ends"
    return status
observe2="function with formal arg."
observe3="calling with actual arg."
passport_status=passport_check("M9993471")
print("Passport is",passport_status)
#observe1,2,3,4,5,6 are temporary variables used to explain this concept

Passport is valid

In [9]:
def find_square(n):
    return n * n

# Invoking the function with different test values
numbers = [3, 5, -4, 0]

for num in numbers:
    print(f"The square of {num} is {find_square(num)}")

The square of 3 is 9
The square of 5 is 25
The square of -4 is 16
The square of 0 is 0

In [11]:
def find_sum(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

# Invoking the function with different values
test_values = [5, 10, 0, 1]

for n in test_values:
    print(f"Sum of first {n} numbers is {find_sum(n)}")

Sum of first 5 numbers is 15
Sum of first 10 numbers is 55
Sum of first 0 numbers is 0
Sum of first 1 numbers is 1

In [12]:
def change_number(num):
    num+=10
def change_list(num_list):
    num_list.append(20)
num_val=10
print("*********effect of pass by value*********")
print("num_val before function call:", num_val)
change_number(num_val)
print("num_val after function call:", num_val)
print("-----------------------------------------------")
val_list=[5,10,15]
print("*********effect of pass by reference*********")
print("val_list before function call:", val_list)
change_list(val_list)
print("val_list after function call:", val_list)

*********effect of pass by value*********
num_val before function call: 10
num_val after function call: 10
-----------------------------------------------
*********effect of pass by reference*********
val_list before function call: [5, 10, 15]
val_list after function call: [5, 10, 15, 20]

In [13]:
def display1(flight_number, seating_capacity):
    print("Flight Number:", flight_number)
    print("Seating Capacity:", seating_capacity)
print("code-1: positional arguments")
display1("FN789",200)
#Uncomment and execute the below function call statement and observe the output
#display1(300,"FN123")
def display2(flight_number, seating_capacity):
    print("Flight Number:", flight_number)
    print("Seating Capacity:", seating_capacity)
print("-------------------------------------------------")
print("code-2: keyword arguments")
display2(seating_capacity=250, flight_number="FN789")
def display3(flight_number, flight_make="Boeing", seating_capacity=150):
    print("Flight Number:", flight_number)
    print("Flight Make:", flight_make)
    print("Seating Capacity:", seating_capacity)
print("-------------------------------------------------")
print("code-3: default arguments")
display3("FN789","Eagle")
#Uncomment and execute the below function call statements one by one and observe the output
#display3("FN234")
#display3("FN678","Qantas",200)
def display4(passenger_name, *baggage_tuple):
    print("Passenger name:",passenger_name)
    total_wt=0
    for baggage_wt in baggage_tuple:
        total_wt+=baggage_wt
    print("Total baggage weight in kg:", total_wt)
print("-------------------------------------------------")
print("code-4: variable argument count")
display4("Jack",12,8,5)
#Uncomment and execute the below function call statements one by one and observe the output
#display4("Chan",20,12)
#display4("Henry",23)

code-1: positional arguments
Flight Number: FN789
Seating Capacity: 200
-------------------------------------------------
code-2: keyword arguments
Flight Number: FN789
Seating Capacity: 250
-------------------------------------------------
code-3: default arguments
Flight Number: FN789
Flight Make: Eagle
Seating Capacity: 150
-------------------------------------------------
code-4: variable argument count
Passenger name: Jack
Total baggage weight in kg: 25

In [14]:
wt_limit=30
def baggage_check(baggage_wt):
    extra_baggage_charge=0
    if not(baggage_wt>=0 and baggage_wt<=wt_limit):
        extra_baggage=baggage_wt-wt_limit
        extra_baggage_charge=extra_baggage*100
    return extra_baggage_charge
def update_baggage_limit(new_wt_limit):
    wt_limit=new_wt_limit
    print("This airline now allows baggage limit till",wt_limit,"kgs")
print("This airline allows baggage limit till",wt_limit,"kgs")
print("Pay the extra baggage charge of",baggage_check(35),"rupees")
update_baggage_limit(45)
print("Pay the extra baggage charge of",baggage_check(35),"rupees")

This airline allows baggage limit till 30 kgs
Pay the extra baggage charge of 500 rupees
This airline now allows baggage limit till 45 kgs
Pay the extra baggage charge of 500 rupees

In [15]:
def factorial(num):
    if num == 0 or num == 1:
        return 1
    return num * factorial(num - 1)

# Example usage
print("Factorial of 5 is:", factorial(5))

Factorial of 5 is: 120

In [16]:
def is_palindrome(num):
    return str(num) == str(num)[::-1]

# Example usage
num = 12321
if is_palindrome(num):
    print("Given number is a palindrome")
else:
    print("Given number is not a palindrome")

num = 12345
if is_palindrome(num):
    print("Given number is a palindrome")
else:
    print("Given number is not a palindrome")

Given number is a palindrome
Given number is not a palindrome

In [17]:
def get_proper_divisors(n):
    return [i for i in range(1, n) if n % i == 0]

def check_amicable_numbers(num1, num2):
    return sum(get_proper_divisors(num1)) == num2 and sum(get_proper_divisors(num2)) == num1

# Example usage
num1 = 220
num2 = 284

if check_amicable_numbers(num1, num2):
    print(f"{num1} and {num2} are amicable numbers")
else:
    print(f"{num1} and {num2} are not amicable numbers")

220 and 284 are amicable numbers

In [18]:
def right_shift(num, n):
    return num >> n

# Example usage
num = 60
n = 2
print(f"Right shift of {num} by {n} positions is:", right_shift(num, n))

Right shift of 60 by 2 positions is: 15

In [19]:
def verify(num1,num2):
    if num1 > num2:
        return num1
    elif num1 == num2:
        return 1
    else:
        return num2

def display(arg1,arg2):
    if(verify(arg1,arg2)==arg1):
        print("A")
    elif(verify(arg1,arg2)==1):
        print("C")
    else:
        print("B")

display(1000,3500)

B

In [20]:
result=0

def find_sum(num1,num2):
    if(num1!=num2):
        result=num1+num2
    else:
        result=2*(num1+num2)

find_sum(3,4)
print(result)
find_sum(5,5)
print(result)

0
0

In [21]:
def find_avg(list_num):
    result_sum=0
    for num in list_num:
        result_sum+=num
    result_avg=result_sum/len(list_num)
find_avg([5,8,5])
print(result_avg)

NameError: name 'result_avg' is not defined

In [22]:
list_of_airlines=["AL1","AL2","AL3"]
print("Iterating the list using range()")
for index in range(0,len(list_of_airlines)):
    print(list_of_airlines[index])
print("Iterating the list using keyword in")
for airline in list_of_airlines:
    print(airline)

Iterating the list using range()
AL1
AL2
AL3
Iterating the list using keyword in
AL1
AL2
AL3

In [23]:
list_of_airlines=["AL1","AL2","AL3"]
airline="AL3"
if airline in list_of_airlines:
    print("Airline found")
else:
    print("Airline not found")

Airline found

Given a list of integer values, write a Python program to check whether the list contains the same number in adjacent positions. Display the count of such adjacent occurrences.

In [24]:
def count_adjacent_duplicates(lst):
    count = 0
    for i in range(len(lst) - 1):
        if lst[i] == lst[i + 1]:
            count += 1
    return count

# Sample Inputs and Outputs
sample1 = [1, 1, 5, 100, -20, -20, 6, 0, 0]
sample2 = [10, 20, 30, 40, 30, 20]
sample3 = [1, 2, 2, 3, 4, 4, 4, 10]

print(count_adjacent_duplicates(sample1))  # Output: 3
print(count_adjacent_duplicates(sample2))  # Output: 0
print(count_adjacent_duplicates(sample3))  # Output: 3

3
0
3

In [27]:
#Creating a string
pancard_number="AABGT6715H"
#Length of the string
print("Length of the PAN card number:", len(pancard_number))
#Concatenating two strings
name1 ="PAN "
name2="card"
name=name1+name2
print(name)
print("Iterating the string using range()")
for index in range(0,len(pancard_number)):
    print(pancard_number[index])

print("Iterating the string using keyword in")
for value in pancard_number:
    print(value)
print("Searching for a character in string")
if "Z" in pancard_number:
    print("Character present")
else:
    print("Character is not present")
#Slicing a string
print("The numbers in the PAN card number:", pancard_number[5:9])
print("Last but one 3 characters in the PAN card:",pancard_number[-4:-1])
pancard_number[2]="A" #This line will result in an error, i.e., string is immutable
print(pancard_number)

Length of the PAN card number: 10
PAN card
Iterating the string using range()
A
A
B
G
T
6
7
1
5
H
Iterating the string using keyword in
A
A
B
G
T
6
7
1
5
H
Searching for a character in string
Character is not present
The numbers in the PAN card number: 6715
Last but one 3 characters in the PAN card: 715

TypeError: 'str' object does not support item assignment

Write a Python program to generate the ticket numbers for specified number of passengers traveling in a flight as per the details mentioned below:
The ticket number should be generated as airline:src:dest:number where

Consider AL1 as the value for airline

src and dest should be the first three characters of the source and destination cities.

number should be auto-generated starting from 101

The program should return the list of ticket numbers of last five passengers.
Note: If passenger count is less than 5, then return the list of all generated ticket numbers.

In [28]:
def generate_ticket_numbers(source, destination, passenger_count):
    ticket_list = []
    airline = "AL1"
    src_code = source[:3].upper()
    dest_code = destination[:3].upper()

    for i in range(passenger_count):
        ticket_num = f"{airline}:{src_code}:{dest_code}:{101 + i}"
        ticket_list.append(ticket_num)

    # Return last 5 tickets or all if fewer than 5
    return ticket_list[-5:]

# Example usage:
tickets1 = generate_ticket_numbers("Bangalore", "Mumbai", 9)
print("Tickets for 9 passengers:\n", tickets1)

tickets2 = generate_ticket_numbers("Delhi", "Chennai", 3)
print("Tickets for 3 passengers:\n", tickets2)

Tickets for 9 passengers:
 ['AL1:BAN:MUM:105', 'AL1:BAN:MUM:106', 'AL1:BAN:MUM:107', 'AL1:BAN:MUM:108', 'AL1:BAN:MUM:109']
Tickets for 3 passengers:
 ['AL1:DEL:CHE:101', 'AL1:DEL:CHE:102', 'AL1:DEL:CHE:103']

Write a Python function proper_divisors(num) which returns a list of all the proper divisors of given number.

Example: Proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110

Write a Python function generate_fibanacci(n) to return a list of first n Fibonacci numbers.

Write a Python program to generate the next 15 leap years starting from a given year. Populate the leap years into a list and display the list.

Given a string containing uppercase characters (A-Z), compress the string using Run Length encoding. Repetition of character has to be replaced by storing the length of that run.

Write a python function encode(message)  which performs the run length encoding for a given String and returns the run length encoded String.

Provide different String values and test your program.

Example: message=AAAABBBBCCCCCCCC  output: 4A4B8C

Represent a small bilingual (English-Swedish) glossary given below as a Python dictionary

{"merry":"god", "christmas":"jul", "and":"och", "happy":"gott", "new":"nytt", "year":"ar"}

and use it to translate your Christmas wishes from English into Swedish.

That is, write a Python function translate(b_dict,list_words) that accepts the bilingual dictionary and a list of English words (your Christmas wish) and returns a list of equivalent Swedish words.

In [29]:
def proper_divisors(num):
    return [i for i in range(1, num) if num % i == 0]

# Example
print(proper_divisors(220))  # ➤ [1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110]

[1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110]

In [30]:
def generate_fibonacci(n):
    if n <= 0:
        return []
    fib = [0, 1]
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])
    return fib[:n]

# Example
print(generate_fibonacci(10))  # ➤ [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [31]:
def next_leap_years(start_year):
    leap_years = []
    year = start_year
    while len(leap_years) < 15:
        if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            leap_years.append(year)
        year += 1
    return leap_years

# Example
print(next_leap_years(2025))  # ➤ [2028, 2032, 2036, ..., next 15 leap years]

[2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084]

In [32]:
def encode(message):
    if not message:
        return ""

    encoded = ""
    count = 1

    for i in range(1, len(message)):
        if message[i] == message[i-1]:
            count += 1
        else:
            encoded += str(count) + message[i-1]
            count = 1
    encoded += str(count) + message[-1]  # last group
    return encoded

# Example
print(encode("AAAABBBBCCCCCCCC"))  # ➤ 4A4B8C
print(encode("ABCD"))              # ➤ 1A1B1C1D

4A4B8C
1A1B1C1D

In [33]:
def translate(b_dict, list_words):
    return [b_dict.get(word.lower(), word) for word in list_words]

# Glossary
bilingual_dict = {
    "merry": "god",
    "christmas": "jul",
    "and": "och",
    "happy": "gott",
    "new": "nytt",
    "year": "ar"
}

# Example usage
english_wish = ["Merry", "Christmas", "and", "Happy", "New", "Year"]
swedish_translation = translate(bilingual_dict, english_wish)
print(" ".join(swedish_translation))  # ➤ god jul och gott nytt ar

god jul och gott nytt ar

In [38]:
list1=[5,10,15,20,25]
print(len(list1))
print(list1[4])
print(list1[5])
print(list1[4:5])
list1[2]=12
print(list1)
list1=list1+[8,9]

5
25

IndexError: list index out of range

In [35]:
my_list=[0]*5
for index in range(1,5):
	my_list[index]=(index-1)*10
print(my_list)

[0, 0, 10, 20, 30]

In [37]:
tuple1=(5,10,15,20,25)
print(len(tuple1))
tuple1[2]=100
print(tuple1[5])
tuple1=tuple1+(8,9,"h")

5

TypeError: 'tuple' object does not support item assignment

In [40]:
pancard_list=["AABGT6715H", "UFFAC4352T", "IFSBD9163K", "JOOEC1225H","RWXAFE187B"]



print(pancard_list[3][6], end=" ")
print(pancard_list[4][3:])

2 AFE187B

In [41]:
message="welcome to Mysore"
word=message[-7:]
if(word=="Mysore"):
    print("got it")
else:
    message=message[3:14]
    print(message)

come to Mys

Code organization

In [42]:
import random
x=10
y=50
print(random.randrange(x,y))

10

In [43]:
import math
num1=234.01
num2=6
num3=-27.01
print("The smallest integer greater than or equal to num1,",num1,":",math.ceil(num1))
print("The largest integer smaller than or equal to num1,",num1,":",math.floor(num1))
print("The factorial of num2,",num2,":", math.factorial(num2))
print("The absolute value of num3",num3,":",math.fabs(num3))

The smallest integer greater than or equal to num1, 234.01 : 235
The largest integer smaller than or equal to num1, 234.01 : 234
The factorial of num2, 6 : 720
The absolute value of num3 -27.01 : 27.01

In [44]:
boarding_call="Good Evening, this is the final call to AL passengers for the flight AL 466 which is planned to take off at 8.40A.M."
if(boarding_call.startswith("Good Evening")):
    print(boarding_call.replace("Good Evening","Good Morning"))
if(boarding_call.find("AL"))>=0:
    print("Welcome to Air Lines.")
if(boarding_call.endswith("A.M.")):
    print("Passengers are requested to have their breakfast.")
a=boarding_call.split(" ")
for i in a:
    if(i.isdigit()):
        print("Flight Number is specified to the passengers.")
print("Total number of times flight service name is specified in the boarding call:",boarding_call.count("AL"))
message="Thank you all..Have a nice journey!"
print(message.upper())
print(message.lower())

Good Morning, this is the final call to AL passengers for the flight AL 466 which is planned to take off at 8.40A.M.
Welcome to Air Lines.
Passengers are requested to have their breakfast.
Flight Number is specified to the passengers.
Total number of times flight service name is specified in the boarding call: 2
THANK YOU ALL..HAVE A NICE JOURNEY!
thank you all..have a nice journey!

In [45]:
crew_details={
    "Pilot":"Kumar",
    "Co-pilot":"Raghav",
    "Head-Strewardess":"Malini",
    "Stewardess":"Mala"
}
print("Before update:")
print("Co-pilot:",crew_details.get("Co-pilot"))
crew_details.update({"Flight Attendant":"Jane", "Co-pilot":"Henry"})
print("\nAfter update:")
print("Co-pilot:",crew_details.get("Co-pilot"))
print("Flight Attendant:",crew_details["Flight Attendant"])

Before update:
Co-pilot: Raghav

After update:
Co-pilot: Henry
Flight Attendant: Jane

In [46]:
import re
if(re.search(r"Air","Airline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

In [47]:
import re
if(re.search(r"Air","airline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern not found

In [48]:
import re
flight_details="Flight Savana Airlines a2134"
print(flight_details)
print(re.sub(r"Flight",r"Plane",flight_details))

Flight Savana Airlines a2134
Plane Savana Airlines a2134

Write a python function, encrypt_sentence(msg) which accepts a message and encrypts it based on rules given below and returns the encrypted message.


Words at odd position -> Reverse It

Words at even position -> Rearrange the characters so that all consonants appear before the vowels and their order should not change

Note: Assume that the sentence would begin with a word and there will be only a single space between the words.

          Perform case sensitive string operations wherever necessary.

Example: msg=the sun rises in the east    output=eht snu sesir ni eht stea

Write a Python program to find the number of characters present the given string.

Write a Python program to find the numbers of words present in the given sentence.

Write a Python function words_count(sentence) to return a dictionary with the length of words as key and number words with such length as value.

Example: sentence=“I love python and it so easy to learn” sample output={1:1,4:2,5:1,3:1,2:3,6:1}

Write a Python function vowel_count(sentence) to return a dictionary with vowels, consonants, others as key and respective number of vowels, consonants, others characters as value.

Note: Do case insensitive operations

Example: sentence=“I love python and it so easy to learn”

                 sample output={“vowels”:12,”consonants”:17, “others”:8}

In [49]:
def encrypt_sentence(msg):
    vowels = "aeiouAEIOU"
    words = msg.split()
    encrypted_words = []

    for i, word in enumerate(words):
        if (i + 1) % 2 != 0:  # Odd-positioned word
            encrypted_words.append(word[::-1])
        else:  # Even-positioned word
            consonants = ''.join([ch for ch in word if ch not in vowels])
            vowels_part = ''.join([ch for ch in word if ch in vowels])
            encrypted_words.append(consonants + vowels_part)

    return ' '.join(encrypted_words)

# Example
print(encrypt_sentence("the sun rises in the east"))  # Output: eht snu sesir ni eht stea

eht snu sesir ni eht stea

In [50]:
def count_characters(string):
    return len(string)

# Example
print(count_characters("Hello World"))  # Output: 11

11

In [51]:
def count_words(sentence):
    return len(sentence.split())

# Example
print(count_words("I love python and it so easy to learn"))  # Output: 9

9

In [52]:
def words_count(sentence):
    words = sentence.split()
    length_dict = {}

    for word in words:
        length = len(word)
        if length in length_dict:
            length_dict[length] += 1
        else:
            length_dict[length] = 1

    return length_dict

# Example
print(words_count("I love python and it so easy to learn"))
# Output: {1: 1, 4: 2, 6: 1, 3: 1, 2: 3, 5: 1}

{1: 1, 4: 2, 6: 1, 3: 1, 2: 3, 5: 1}

In [53]:
def vowel_count(sentence):
    vowels = "aeiou"
    result = {"vowels": 0, "consonants": 0, "others": 0}

    for ch in sentence.lower():
        if ch.isalpha():
            if ch in vowels:
                result["vowels"] += 1
            else:
                result["consonants"] += 1
        else:
            result["others"] += 1

    return result

# Example
print(vowel_count("I love python and it so easy to learn"))
# Output: {'vowels': 12, 'consonants': 17, 'others': 8}

{'vowels': 12, 'consonants': 17, 'others': 8}

In [54]:
song="JINGLE Bells jingle Bells Jingle All The Way"
song.upper()
song_words=song.split()
count=0
for word in song_words:
    if(word.startswith("jingle")):
        count=count+1
print(count)

1

In [55]:
sample_dict={'a':1,'b':2}
sample_dict.update({'b':5, 'c':10 })
print(sample_dict.get('a'),sample_dict.get('b'),sample_dict.get('c'))

1 5 10

In [56]:
import re
word="New Airlines4"
if(re.search(r"^N",word) and re.search(r"e$",word)):
    print(re.sub(r"New",r"Old",word))
else:
    print(re.sub(r"s(\d{1})",r"S\1",word))

New AirlineS4

In [57]:
import math
num_list=[100.5,30.465,-1.22,20.15]
num_list.insert(1, -100.5)
num_list.pop(0)
num_list.sort()
print(math.ceil(math.fabs(num_list[0])))

101

In [61]:
fhr=open("data.txt","r")
line1=fhr.readline()
print(line1,end="")
line2=fhr.readline()
print(line2,end="")
line3=fhr.readline()
print(line3,end="")

helllo

In [62]:
fhr=open("data.txt","r")
list_var=fhr.readlines()
for line in list_var:
    print(line,end="")
fhr.close()

helllo

In [63]:
fhr=open("data.txt","r")
data =fhr.read(10)
print(data)
fhr.close()

helllo

In [64]:
fhr=open("data.txt","r")
data =fhr.read()
print(data)
fhr.close()

helllo

In [65]:
fhr=open("data.txt","r")
for line in fhr:
    print(line,end="")
fhr.close()

helllo

In [66]:
fhr=open("data.txt","r")
data =fhr.read()
print("Before writing:")
print(data)
fhr.close()
fhw=open("data.txt","w")
num=fhw.write("this new first line written\n")
num1=fhw.write("this new second line written\n")
print("num:",num)
print("num1:",num1)
fhw.close()
fhr=open("data.txt","r")
data =fhr.read()
print("After writing:")
print(data)
fhr.close()

Before writing:
helllo
num: 28
num1: 29
After writing:
this new first line written
this new second line written

In [67]:
fhr=open("data.txt","r")
data =fhr.read()
print("Before writing:")
print(data)
fhr.close()
fhw=open("data.txt","a")
num=fhw.write("this new first line written\n")
num1=fhw.write("this new second line written\n")
print("num:",num)
print("num1:",num1)
fhw.close()
fhr=open("data.txt","r")
data =fhr.read()
print("After writing:")
print(data)
fhr.close()

Before writing:
this new first line written
this new second line written

num: 28
num1: 29
After writing:
this new first line written
this new second line written
this new first line written
this new second line written

In [68]:
fhr=open("data.txt","r")
cur_pos=fhr.tell()
print(cur_pos)
data =fhr.readline()
print(data)
cur_pos=fhr.tell()
print(cur_pos)
data =fhr.readline()
print(data)
fhr.close()

0
this new first line written

28
this new second line written

In [69]:
fhr=open("data.txt","rb+")
print(fhr.tell())
fhr.seek(12) #navigates to 12th position from beginning of the file
print(fhr.tell())
fhr.seek(3,1) #navigates to 3rd position from current position of the file object position
print(fhr.tell())
fhr.seek(-3,2)#navigates to 3rd position from end of the file in backward direction
print(fhr.tell())
fhr.close()

0
12
15
111

In [70]:
fhr=open("data.txt","rb+")
print("file name:",fhr.name)
print("access mode:",fhr.mode)
print("closed?",fhr.closed)
fhr.close()
print("after closing the file closed?",fhr.closed)

file name: data.txt
access mode: rb+
closed? False
after closing the file closed? True

In [71]:
def calculate_expenditure(list_of_expenditure):
    total=0
    for expenditure in list_of_expenditure:
        total+=expenditure
    print(total)
list_of_values=[100,200,300,"400",500]
calculate_expenditure(list_of_values)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [72]:
def calculate_expenditure(list_of_expenditure):
    total=0
    for expenditure in list_of_expenditure:
        if(type(expenditure) is int):
            total+=expenditure
        else:
            print("Wrong data type")
            break
    print(total)
list_of_values=[100,200,300,"400",500]
calculate_expenditure(list_of_values)

Wrong data type
600

In [73]:
def calculate_expenditure(list_of_expenditure):
    total=0
    try:
        for expenditure in list_of_expenditure:
            total+=expenditure
        print(total)
    except:
        print("Some error occured")
    print("Returning back from function.")
list_of_values=[100,200,300,"400",500]
calculate_expenditure(list_of_values)

Some error occured
Returning back from function.

In [74]:
def calculate_expenditure(list_of_expenditure):
    total=0
    try:
        for expenditure in list_of_expenditure:
            total+=expenditure
        print("Total:",total)
        avg=total/num_values
        print("Average:",avg)
    except ZeroDivisionError:
        print("Divide by Zero error")
    except TypeError:
        print("Wrong data type")
    except:
        print("Some error occured")
list_of_values=[100,200,300,"400",500]
num_values=0
calculate_expenditure(list_of_values)

Wrong data type

In [75]:
def calculate_sum(list_of_expenditure):
    total=0
    try:
        for expenditure in list_of_expenditure:
            total+=expenditure
        print("Total:",total)
        avg=total/no_values
        print("Average:",avg)
    except ZeroDivisionError:
        print("Divide by Zero error")
    except TypeError:
        print("Wrong data type")
try:
    list_of_values=[100,200,300,400,500]
    num_values=len(list_of_values)
    calculate_sum(list_of_values)
except NameError:
    print("Name error occured")
except:
    print("Some error occured")

Total: 1500
Name error occured

In [76]:
balance=1000
amount="300Rs"
def take_card():
    print("Take the card out of ATM")
try:
    if balance>=int(amount):
        print("Withdraw")
    else:
        print("Invalid amount")
except TypeError:
    print("Type Error Occurred")
except ValueError:
    print("Value Error Occurred")
except:
    print("Some error Occurred")
finally:
    take_card()

Value Error Occurred
Take the card out of ATM

Given a list of numbers, write a Python function to return the list of prime numbers present in it.

Example: input:[7,9,11,13,15,20,23] output:[7,11,13,23]

Write a python function find_common_characters(msg1,msg2) to display all the common characters between given two strings. Return -1 if there are no matching characters.

Note: Ignore blank spaces if there are any. Perform case sensitive string comparison wherever necessary.

Example: msg1="I like Python", msg2="Java is a very popular language" output=lieyon

Write a python function, find_pairs_of_numbers(num_list,n) which accepts a list of positive integers with no repetitions and returns count of pairs of numbers in the list that adds up to n. The function should return 0, if no such pairs are found in the list.

Example: num_list=[1, 2, 7, 4, 5, 6, 0, 3], n=6 output:3

              num_list= [3, 4, 1, 8, 5, 9, 0, 6], n=9 output:4

The python function, find_average() given below, is written to accept a list of marks and return the average marks. On execution, the program is resulting in an error.

def find_average(mark_list):
          total=0
          for i in range(0, len(mark_list)):
                   total+=mark_list1[i]
          marks_avg=total/len(mark_list)
          return marks_avg
m_list=[1,2,3,4]
print("Average marks:", find_average(m_list))
1: Add code to handle the exception occurring in the code.

2: Make the necessary correction in the program to remove the error.

3: Make the following changes in the code, execute, observe the results. Add code to handle the errors occurring in each case.

Case – 1: Initialize m_list as ["1",2,3,4]

Case – 2: Initialize m_list as given below

mark1="A"
mark1=int("A")
m_list=[mark1,2,3,4]
Case – 3: Initialize m_list as []

Case – 4: Make the following change in the for loop statement

for i in range(0, len(mark_list)+1):

In [77]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def get_prime_numbers(lst):
    return [num for num in lst if is_prime(num)]

# Example
print(get_prime_numbers([7, 9, 11, 13, 15, 20, 23]))  # Output: [7, 11, 13, 23]

[7, 11, 13, 23]

In [78]:
def find_common_characters(msg1, msg2):
    set1 = set(msg1.replace(" ", ""))
    set2 = set(msg2.replace(" ", ""))
    common = set1 & set2
    if not common:
        return -1
    return ''.join(sorted(common))

# Example
print(find_common_characters("I like Python", "Java is a very popular language"))  # Output: lieyon

eilnoy

In [ ]:
def find_pairs_of_numbers(num_list, n):
    count = 0
    seen = set()
    for num in num_list:
        if n - num in seen:
            count += 1
        seen.add(num)
    return count

# Example
print(find_pairs_of_numbers([1, 2, 7, 4, 5, 6, 0, 3], 6))  # Output: 3
print(find_pairs_of_numbers([3, 4, 1, 8, 5, 9, 0, 6], 9))  # Output: 4

In [80]:
def find_average(mark_list):
    total=0
    for i in range(0, len(mark_list)):
        total+=mark_list1[i]  # ❌ mark_list1 is undefined
    marks_avg=total/len(mark_list)
    return marks_avg

In [82]:

num1=100
num2=0
try:
    result=num1/num2
    print(result)
except ZeroDivisionError:
    print("Zero Division Error Occurred")

Zero Division Error Occurred

In [83]:
def division(a,b):
    try:
        return int(a)/b
    except TypeError:
        print("Type error")
    except ValueError:
        print("Value error")
    finally:
        print("Finally")
    print("Done")
division('A',10)

Value error
Finally
Done

In [84]:
def find_sum(a,b):
    try:
        print(a+c)
    except NameError:
        print("Function name error")
    finally:
        print("Sum finally")
try:
    find_sum(12,13)
except NameError:
    print("Invocation name error")
finally:
    print("Invocation finally")

Function name error
Sum finally
Invocation finally